* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
  /*font-family: 'Arimo', sans-serif; */
  /* font-family: 'Lato', sans-serif; */
}
.navdecoration {
  color: black !important;
  text-decoration-line: none;
}
.cardimgtop {
  width: 440px;
  height: auto;
}

.myCard {
  width: 440px;
  height: 440px;
  box-shadow: 0 10px 10px rgba(126, 117, 117, 0.08), 0 0 10px rgba(0, 0, 0, 0.05);
}

.cardtext {
  font-size: 1.2rem;
}

.heading {
  padding: 10px;
  margin-left: 120px;
  border-left: 2px solid #56a646;
  margin-bottom: 20px;
}

/*================four card==========================*/
.fourcard {
  width: 250px;
  height: auto;
}
.cardImage {
  width: 250px;
  height: auto;
}
.CardTitle {
  font-size: 1rem;
}
.Update {
  font-size: 0.8rem;
  margin-top: 30px;
}

/*========================HOW-TO GUIDES===============================*/
.rightsideimage {
  width: 100%;
  height: 140px;
}
.howtocard {
  height: 615px;
}
.howtocardright {
  width: 100%;
}
.bigimage {
  width: 450px;
}
.howlargetitle {
  font-size: 1.5rem;
}
.howtitlesmall {
  font-size: 15px;
}
.howtitlesmallres {
  font-size: 20px;
  padding: 0.3em 0.5em;
}
.howupdate {
  font-size: 15px;
  padding: 0 0.5em;
}
/*=================================Knowlage Base=========================*/
.CardKnowlage {
  width: 100%;
  height: 394px;
}
.knowlebigimage {
  width: 100%;
  height: 234px;
}

.heading4 {
  display: flex;
  justify-content: center;
  font-size: 25px;

  border-bottom: 1px solid #56a646;
  padding: 25px;
}
.knowlegesmalltitle {
  font-size: 15px;
  padding: 0.6em 1em;
}

.knowleSmallimage {
  width: 140px;
  height: 140px;
}

.businesssmalltitle {
  font-size: 15px;
  margin-left: 25px;
}
.knowupdate {
  font-size: 15px;
  padding: 0.6em 1em;
}

/*===============================LATEST ARTICLES============================= */
.CardLatest {
  width: 350px;
  height: auto;
}
.Latestsmalltitle {
  font-size: 15px;
  margin-left: 25px;
}
/*=========================End ======================*/

/*==================================Responsive ===================================*/
@media (min-width: 320px) and (max-width: 420px) {
  .cardimgtop {
    width: 245px;
    height: auto;
  }
  .myCard {
    width: 250px !important;
    height: auto;
    margin-left: 50px;
    margin-bottom: 20px;
  }
  .myCard2 {
    width: 250px !important;
    height: auto;
    margin-left: 50px;
  }
  .cardtext {
    font-size: 0.8rem;
  }

  .heading {
    padding: 10px;
    margin-left: 60px;
    border-left: 2px solid #56a646;
    margin-bottom: 20px;
  }
  /*========================four card css=================*/
  .fourcard {
    width: 255px;
    height: auto;
    margin-left: 50px;
  }
  /*===========================HOW-TO GUIDES============================== */
  .howtocard {
    width: 250px;
    height: auto;
    margin-bottom: 20px;
    margin-left: 50px;
  }
  .bigimage {
    width: 250px;
    height: auto;
  }
  .howlargetitle {
    font-size: 1rem;
  }
  .howtocardright {
    width: 250px;
    height: 330px;
    margin-left: 50px;
  }
  .rightsideimage {
    width: 250px;
    height: auto;
  }
  .howtitlesmallres {
    margin-top: 180px;
    font-size: 0.9rem;
    display: block;
    margin-left: -80px;
  }
  .howupdate {
    font-size: 15px;
    display: block;
    margin-left: -80px;
  }

  /*=================================Knowlage Base=========================*/
  .CardKnowlage {
    width: 300px;
    height: 394px;
    margin-left: 40px;
    margin-bottom: 20px;
  }
  .knowlebigimage {
    width: 300px;
    height: 234px;
  }
  .knowlegesmalltitle {
    font-size: 15px;
    margin-left: 25px;
  }
  .CardSmall {
    width: 250px;
    height: 330px;
    margin-left: 50px;
  }

  .knowleSmallimage {
    width: 250px;
    height: auto;
  }
  .knowlegesmalltitle {
    margin-top: 180px;
    font-size: 0.9rem;
    display: block;
    margin-left: -50px;
  }
  .knowupdate {
    font-size: 15px;
    display: block;
    margin-left: -80px;
  }

  /*======================================BUSINES======================== */

  /*===============================LATEST ARTICLES============================= */
  .CardLatest {
    width: 300px;
    height: auto;
    margin-left: 50px;
    margin-bottom: 20px;
  }
}

@media (min-width: 420px) and (max-width: 600px) {
  .cardimgtop {
    width: 300px;
    height: auto;
  }
  .myCard {
    width: 300px !important;
    height: auto;
    margin-left: 50px;
    margin-bottom: 20px;
  }
  .myCard2 {
    width: 300px !important;
    height: auto;
    margin-left: 50px;
  }
  .cardtext {
    font-size: 0.8rem;
  }

  .heading {
    padding: 10px;
    margin-left: 60px;
    border-left: 2px solid #56a646;
    margin-bottom: 20px;
  }

  /*========================four card css=================*/
  .fourcard {
    width: 255px;
    height: auto;
    margin-left: 50px;
  }
  /*===========================HOW-TO GUIDES============================== */
  .howtocard {
    width: 280px;
    height: auto;
    margin-bottom: 20px;
    margin-left: 50px;
  }
  .bigimage {
    width: 280px;
    height: auto;
  }
  .howtocardright {
    width: 280px;
    height: auto;
    margin-left: 50px;
  }

  .rightsideimage {
    width: 280px;
    height: auto;
  }
  .howtitlesmallres {
    margin-top: 200px;
    font-size: 0.9rem;
    display: block;
    justify-content: center;
    margin-left: -100px;
  }
  .howtitlesmall {
    display: block;
    justify-content: center;
    margin-right: -100px;
  }
  .howupdate {
    font-size: 15px;
    display: block;
    margin-left: -100px;
  }
  /*=================================Knowlage Base=========================*/
  .CardKnowlage {
    width: 350px;
    height: 394px;
    margin-left: 50px;
    margin-bottom: 20px;
  }
  .knowlebigimage {
    width: 350px;
    height: 234px;
  }
  .knowlegesmalltitle {
    font-size: 15px;
    margin-left: 25px;
  }
  .CardSmall {
    width: 240px;
    height: 300px;
    margin-left: 50px;
  }

  .knowleSmallimage {
    width: 240px;
    height: 140px;
  }
  .knowlegesmalltitle {
    margin-top: 180px;
    font-size: 0.9rem;
    display: block;
    margin-left: -80px;
  }
  .knowupdate {
    font-size: 15px;
    display: block;
    margin-left: -80px;
  }

  /*===============================LATEST ARTICLES============================= */
  .CardLatest {
    width: 350px;
    height: auto;
    margin-left: 50px;
    margin-bottom: 20px;
  }
}
@media (min-width: 600px) and (max-width: 750px) {
  .cardimgtop {
    width: 340px;
    height: auto;
  }
  .myCard {
    width: 340px !important;
    height: auto;
    margin-left: 50px;
    margin-bottom: 20px;
  }
  .myCard2 {
    width: 340px !important;
    height: auto;
    margin-left: 50px;
  }
  .cardtext {
    font-size: 0.8rem;
  }

  .heading {
    padding: 10px;
    margin-left: 60px;
    border-left: 2px solid #56a646;
    margin-bottom: 20px;
  }
  /*======================================BUSINES======================== */

  /*========================four card css=================*/
  .fourcard {
    width: 255px;
    height: auto;
    margin-left: 50px;
  }

  /*===========================HOW-TO GUIDES============================== */
  .howtocard {
    width: 450px;
    height: auto;
    margin-bottom: 20px;
  }
  .bigimage {
    width: 450px;
    height: auto;
  }

  /*=================================Knowlage Base=========================*/
  .CardKnowlage {
    width: 350px;
    height: 394px;
    margin-left: 50px;
    margin-bottom: 20px;
  }
  .knowlebigimage {
    width: 350px;
    height: 234px;
  }
  .CardSmall {
    display: flex;
    flex-direction: column;
  }
  .CardSmall {
    width: 240px;
    height: 300px;
    margin-left: 50px;
  }

  .knowleSmallimage {
    width: 240px;
    height: 140px;
  }
  .knowlegesmalltitle {
    margin-top: 180px;
    font-size: 0.9rem;
    display: block;
    margin-left: -80px;
  }
  .knowupdate {
    font-size: 15px;
    display: block;
    margin-left: -80px;
  }

  /*===============================LATEST ARTICLES============================= */
  .CardLatest {
    width: 350px;
    height: auto;
    margin-left: 50px;
    margin-bottom: 20px;
  }
}
@media (min-width: 750px) and (max-width: 900px) {
  .cardimgtop {
    width: 280px;
    height: auto;
  }
  .myCard {
    width: 280px !important;
    height: auto;
    margin-left: 50px;
    margin-bottom: 20px;
  }
  .myCard2 {
    width: 280px !important;
    height: auto;
    margin-left: 50px;
  }
  .cardtext {
    font-size: 0.8rem;
  }

  .heading {
    padding: 10px;
    margin-left: 60px;
    border-left: 2px solid #56a646;
    margin-bottom: 20px;
  }
  /*========================four card css=================*/
  .fourcard {
    width: 255px;
    height: auto;
    margin-left: 50px;
  }

  /*===========================HOW-TO GUIDES============================== */
  .howtocard {
    width: 280px;
    height: 610px;
    margin-bottom: 20px;
  }
  .bigimage {
    width: 280px;
    height: auto;
  }
  .howupdate {
    font-size: 15px;
    margin-left: 25px;
  }

  /*=================================Knowlage Base=========================*/
  .CardKnowlage {
    width: 200px;
    height: 394px;
  }
  .knowlebigimage {
    width: 200px;
    height: 234px;
  }
  .CardSmall {
    width: 240px;
    height: 300px;
  }

  .knowleSmallimage {
    width: 240px;
    height: 140px;
  }
  .knowlegesmalltitle {
    margin-top: 180px;
    font-size: 0.9rem;
    display: block;
    margin-left: -80px;
  }
  .knowupdate {
    font-size: 15px;
    display: block;
    margin-left: -80px;
  }

  /*======================================BUSINES======================== */
  .businesssmalltitle {
    margin-top: 150px;
    font-size: 0.7rem;
  }
  /*===============================LATEST ARTICLES============================= */
  .CardLatest {
    width: 350px;
    height: auto;
    margin-left: 50px;
    margin-bottom: 20px;
  }
  .Latestsmalltitle {
    margin-top: 150px;
    font-size: 0.8rem;
  }
}

@media (min-width: 900px) and (max-width: 1024px) {
  .cardimgtop {
    width: 280px;
    height: auto;
  }
  .myCard {
    width: 280px !important;
    height: auto;
    margin-left: 50px;
    margin-bottom: 20px;
  }
  .myCard2 {
    width: 280px !important;
    height: auto;
    margin-left: 50px;
  }
  .cardtext {
    font-size: 0.8rem;
  }

  .heading {
    padding: 10px;
    margin-left: 60px;
    border-left: 2px solid #56a646;
    margin-bottom: 20px;
  }
  /*========================four card css=================*/
  .fourcard {
    width: 255px;
    height: auto;
    margin-left: 50px;
  }
  /*===========================HOW-TO GUIDES============================== */
  .howtocard {
    width: 280px;
    height: 610px;
    margin-bottom: 20px;
  }
  .bigimage {
    width: 280px;
    height: auto;
  }
  /*=================================Knowlage Base=========================*/
  .CardKnowlage {
    width: 100%;
    height: 394px;
  }
  .knowlebigimage {
    width: 100%;
    height: 234px;
  }
  .CardSmall {
    width: 180px;
    height: 350px;
  }

  .knowleSmallimage {
    width: 180px;
    height: 140px;
  }
  .knowlegesmalltitle {
    margin-top: 180px;
    font-size: 0.9rem;
    display: block;
    margin-left: -50px;
  }
  .knowupdate {
    font-size: 14px;
    display: block;
    margin-left: -50px;
  }

  /*======================================BUSINES======================== */
  .businesssmalltitle {
    margin-top: 150px;
    font-size: 0.7rem;
  }

  /*===============================LATEST ARTICLES============================= */
  .CardLatest {
    width: 300px;
    height: auto;
    margin-left: 50px;
    margin-bottom: 20px;
  }
  .Latestsmalltitle {
    margin-top: 150px;
    font-size: 0.6rem;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .cardimgtop {
    width: 280px;
    height: auto;
  }
  .myCard {
    width: 280px !important;
    height: auto;
    margin-left: 50px;
    margin-bottom: 20px;
  }
  .myCard2 {
    width: 280px !important;
    height: auto;
    margin-left: 50px;
  }
  .cardtext {
    font-size: 0.8rem;
  }

  .heading {
    padding: 10px;
    margin-left: 60px;
    border-left: 2px solid #56a646;
    margin-bottom: 20px;
  }
  /*========================four card css=================*/
  .fourcard {
    width: 255px;
    height: auto;
    margin-left: 50px;
  }
  /*===========================HOW-TO GUIDES============================== */
  .howtocard {
    width: 280px;
    height: 610px;
    margin-bottom: 20px;
  }
  .bigimage {
    width: 280px;
    height: auto;
  }
  /*=================================Knowlage Base=========================*/
  .CardKnowlage {
    width: 100%;
    height: 394px;
  }
  .knowlebigimage {
    width: 100%;
    height: 234px;
  }
  .CardSmall {
    width: 350px;
    height: 130px;
  }

  .knowlegesmalltitle {
    font-size: 15px;
    margin-left: 25px;
  }

  .knowleSmallimage {
    width: 100px;
    height: 130px;
  }

  /*======================================BUSINES======================== */
}
