/* New CSS */

.howlargetitle {
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: medium;
}

.topImage {
  max-height: 300px;
  object-fit: contain;
}

@media screen and (min-width: 80em) {
  .howlargetitle {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 1.5rem;
  }
}

.rightsideimage {
  min-height: 96.45px;
}

.howtitlesmallres {
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.howtitlesmallupdated {
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 0.9em;
}

.TechDealRightTile {
  -webkit-line-clamp: 3;
  display: -webkit-box;
  padding: 0px 1.5em;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 1.3em;
}

.FourateImage {
  width: 219px;
  height: 120px;
  object-fit: contain;
}

.categoryWiseBlogImage {
  height: 200px;
  object-fit: contain;
}

.latestImage {
  height: 100px;
  object-fit: contain;
}

@media screen and (min-width: 80em) {
  .TechDealRightTile {
    -webkit-line-clamp: 3;
    display: -webkit-box;
    padding: 0px 1.5em;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 1.5em;
  }

  .latestImage {
    height: 200px;
    object-fit: contain;
  }
}

/* Old CSS */
.universalSubnavitems {
  display: inline-block;
  font-size: 1rem;
  white-space: nowrap;
  direction: ltr;
  margin: 10px;
  text-decoration: none;
  color: #141414;
}
.universalSubnavitems:hover {
  color: #0f8209;
}
.ctileListtileBlock {
  margin-bottom: 30px;
  position: relative;
}
.TechCard {
  width: 100%;
  height: auto;
}

.navdecoration {
  color: black !important;
  text-decoration-line: none;
}
.cardtext {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.Leftsideimage {
  width: 100%;
  height: 200px;
}
.howtocardright {
  width: auto;
}
.Techsmallres {
  font-size: 1rem;
  margin-left: 10px;
}
.TechUpate {
  margin-left: 10px;
}

/*================================Our Favorite Picks======================*/
.fouratesColums {
  display: flex;
  flex-direction: row;
}
.TechHeading {
  font-size: 1.5rem;
  padding: 10px;
  border-left: 2px solid #56a646;
  margin: 20px 0;
}
.navourfavorite {
  font-size: 1rem;
  color: #141414;
  text-decoration: none;
  margin-left: 10px;
}
.navourfavorite:hover {
  color: #0f8209;
  cursor: pointer;
  border-bottom: 2px solid #0f8209;
}
.FourateCard {
  width: 220px;
  height: 300px;
  margin: 10px;

  border-bottom: 2px solid #0f8209;
}
.Ourtext {
  font-size: 0.8rem;
  margin-top: 25px;
}
.Updated {
  margin-top: 25px;
}
.Prevbtn {
  background-color: #1861aa !important;
}
.Nextbtn {
  background-color: #1861aa !important;
}
/* Scroll behaviour CSS */

.scroll::-webkit-scrollbar {
  display: none;
}

.scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll {
  display: flex;
  overflow-x: scroll;
  align-items: center;
  gap: 2em;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 2em;
}
/*=================================Tech Deals======================= */

.TechDealscardContaine {
  font-size: 0.8rem;
}

.TechDealsRightContaine {
  font-size: 0.9rem;
  margin-left: 10px;
}

/* Scroll behaviour CSS */

.scroll::-webkit-scrollbar {
  display: none;
}

.scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll {
  display: flex;
  overflow-x: scroll;
  align-items: center;
  gap: 2em;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 2em;
}

/*===================================Latest =====================================*/
.Latstdesc {
  font-size: 0.9rem;
  margin-left: 20px;
  margin-top: 20px;
}

.SeeMorebtn {
  border: 1px solid #0f8209;
  border-radius: 0.25rem;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
  padding: 0 10px;
  cursor: pointer;
  overflow: hidden;
  font-size: 16px;
  width: 800px;
  height: 48px;
  line-height: 48px;
  margin-left: 140px;
}
.SeeMorebtn:hover {
  color: #fff;
  fill: #fff;
  background-color: #0f8209;
}
/*==================================Responsive ===================================*/
@media (min-width: 320px) and (max-width: 420px) {
  .universalSubnavitems {
    display: inline-block;
    font-size: 0.8rem;
    white-space: nowrap;
    direction: ltr;
    margin: 5px;
    text-decoration: none;
    color: #141414;
  }
  .TechCard {
    width: 350px;
    height: auto;

    margin-left: 20px;
  }
  .howtocardright {
    width: 350px;
    height: 200px;
  }
  .Leftsideimage {
    width: 180px;
    height: 200px;
  }
  /*=================================Tech Deals======================= */
  /*================================Our Favorite Picks======================*/

  .TechHeading {
    font-size: 1rem;
    padding: 10px;
    border-left: 2px solid #56a646;
    margin: 20px 0;
  }
  .FourateCard {
    width: 220px;
    height: 300px;
    margin: 10px;
    margin-left: 30px;
    border-bottom: 2px solid #0f8209;
  }

  .Prevbtn {
    background-color: #0f8209 !important;
    width: 100px;
    margin-left: 105px;
  }
  .Nextbtn {
    background-color: #0f8209 !important;
    margin-left: 105px;
    width: 100px;
  }

  .TechDealscardContaine {
    font-size: 0.8rem;
  }

  /*===================================Latest =====================================*/
  .Latstdesc {
    font-size: 0.8rem;
    margin-left: 20px;
    margin-top: 20px;
  }
}
@media (min-width: 420px) and (max-width: 600px) {
  .universalSubnavitems {
    display: inline-block;
    font-size: 0.8rem;
    white-space: nowrap;
    direction: ltr;
    margin: 10px;
    text-decoration: none;
    color: #141414;
  }
  .TechCard {
    width: 350px;
    height: auto;

    margin-left: 20px;
  }
  .howtocardright {
    width: 350px;
    height: 200px;
  }
  .Leftsideimage {
    width: 180px;
    height: 200px;
  }

  /*================================Our Favorite Picks======================*/
  /* Scroll behaviour CSS */

  .scroll::-webkit-scrollbar {
    display: none;
  }

  .scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scroll {
    display: flex;
    overflow-x: scroll;
    align-items: center;
    gap: 2em;
  }

  .FourateCard {
    width: 220px;
    height: 300px;
    margin: 10px;
    margin-left: 30px;
    border-bottom: 2px solid #0f8209;
  }

  .Prevbtn {
    background-color: #0f8209 !important;
    width: 100px;
    margin-left: 105px;
  }

  .Nextbtn {
    background-color: #0f8209 !important;
    margin-left: 105px;
    width: 100px;
  }

  .TechHeading {
    font-size: 1rem;
    padding: 10px;
    border-left: 2px solid #56a646;
    margin: 20px 0;
  }
  /*=================================Tech Deals======================= */

  /*===================================Latest =====================================*/
  .Latstdesc {
    font-size: 0.8rem;
    margin-left: 20px;
    margin-top: 20px;
  }
  .SeeMorebtn {
    width: 300px;
  }
}
@media (min-width: 600px) and (max-width: 750px) {
  .universalSubnavitems {
    display: inline-block;
    font-size: 0.8rem;
    white-space: nowrap;
    direction: ltr;
    margin: 10px;
    text-decoration: none;
    color: #141414;
  }
  .Leftsideimage {
    width: 300px;
    height: 220px;
  }
  .howtocardright {
    width: 450px;
    height: 220px;
  }
  .Techsmallres {
    font-size: 1rem;
    margin-left: 10px;
  }
  .TechHeading {
    font-size: 1.5rem;
    padding: 10px;
    border-left: 2px solid #56a646;
    margin: 20px 0;
  }
  /*================================Our Favorite Picks======================*/
  /* Scroll behaviour CSS */
  .Prevbtn {
    background-color: #0f8209 !important;
    width: 100px;
    margin-left: 105px;
  }

  .Nextbtn {
    background-color: #0f8209 !important;
    margin-left: 105px;
    width: 100px;
  }
  /*=================================Tech Deals======================= */

  /*===================================Latest =====================================*/
  .Latstdesc {
    font-size: 0.8rem;
    margin-left: 20px;
    margin-top: 20px;
  }
  .SeeMorebtn {
    width: 300px;
  }
}
@media (min-width: 750px) and (max-width: 900px) {
  .TechCard {
    width: 350px;
    height: auto;
  }
  .howtocardright {
    width: 350px;
    height: 200px;
  }
  .Leftsideimage {
    width: 180px;
    height: 200px;
  }

  /*================================Our Favorite Picks======================*/
  /* Scroll behaviour CSS */

  .scroll::-webkit-scrollbar {
    display: none;
  }

  .scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scroll {
    display: flex;
    overflow-x: scroll;
    align-items: center;
    gap: 2em;
  }
  .Prevbtn {
    background-color: #0f8209 !important;
    width: 100px;
    margin-left: 260px;
  }

  .Nextbtn {
    background-color: #0f8209 !important;
    width: 100px;
    margin-left: 260px;
  }
  /*=================================Tech Deals======================= */

  /*===================================Latest =====================================*/
  .Latstdesc {
    font-size: 0.8rem;
    margin-left: 20px;
    margin-top: 20px;
  }
  .SeeMorebtn {
    width: 250px;
  }
}
@media (min-width: 900px) and (max-width: 1024px) {
  .TechCard {
    width: 300px;
    height: auto;
  }
  .howtocardright {
    width: 400px;
    margin-left: 20px;
  }
  .Leftsideimage {
    width: 200px;
    height: 200px;
  }

  /*===================================Latest =====================================*/
  .Latstdesc {
    font-size: 0.8rem;
    margin-left: 20px;
    margin-top: 20px;
  }
  .SeeMorebtn {
    width: 250px;
  }
  /*=================================Tech Deals======================= */
}
